.widget {
  background: var(--light-blue);
  margin-bottom: var(--xl-size);
}

.widget__message {
  border-bottom: 1px solid lighten(var(--light-blue), 10%);
  color: var(--off-white);
  margin: 0;
  padding: var(--l-size);
  text-align: center;
}

.widget-header {
  background: var(--blue);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  padding: var(--m-size);
}

.widget-header__title {
  margin: 0;
}
